
html, body {
    background-color: #1b1b1b;
    color: #eef;
}

h1, h2, h3, h4, h5, h6 {
    color: #eef;
}

.grid-bg {
    fill: #3333BA;
}

#controls button {
    font-size: 16px;
    padding: 8px 16px;
}

.form label {
    color: #eef;
}

.form button {
    background-color: #16e !important;
}

.grid-line {
    stroke: #aaa;
}

ul.controls-desc{
    list-style: none;
    margin-left: 0px;
}

ul.controls-desc li {
  /*display: inline-block;*/
}

.game-bg {
    fill: none;
    stroke: #eef;
    stroke-width: 2px;
}

.tape-view-divider {
    stroke: #aaa;
    stroke-width: 1px;
}

.game-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.play-control {
    opacity: 1.0;
}

.play-control.active {
    opacity: 0.6;
}

.play-control.play .bg {
    fill: #368A55;
}

.play-control.pause .bg {
    fill: #B9B9B9;
}

.play-control.stop .bg {
    fill: #F04124;
}

@media only screen and (min-aspect-ratio: 568/320) {
    .game-container {
        /* width: unset; */
    }
    .game-container svg {
        height: 100vh;
    }
}

@media only screen and (max-aspect-ratio: 567/320) {

    @media only screen and (min-width: 1000px) {
        .game-container {
            width: 1000px;
        }
    }

    @media only screen and (max-width: 999px) {
        .game-container {
            width: 100%;
        }
    }
}



@media only screen and (max-width: 999px) {
    #controls button {
        font-size: 24px;
        padding: 5px 22px;
    }
}
/*  green: #03ec04 */
