
html, body {
    background-color: #333;
    color: #eef;
}

h1, h2, h3, h4, h5, h6 {
    color: #eef;
}

.grid-bg {
    fill: #3333BA;
}

#controls button {
    font-size: 16px;
    padding: 8px 16px;
}

.form label {
    color: #eef;
}

.form button {
    background-color: #16e !important;
}

.grid-line {
    stroke: #aaa;
}

ul.controls-desc{
    list-style: none;
    margin-left: 0px;
}

ul.controls-desc li {
  /*display: inline-block;*/
}

@media only screen and (min-width: 680px) {
    .game-container {
        width: 680px;
    }
}

@media only screen and (max-width: 679px) {
    .game-container {
        width: 100%;
    }
}
/*  green: #03ec04 */
