
html, body {
    background-color: #1b1b1b;
    color: #eef;
}

h1, h2, h3, h4, h5, h6 {
    color: #eef;
}

.grid-bg {
    fill: #16e;
}

#controls button {
    font-size: 16px;
    padding: 8px 16px;
}

.form label {
    color: #eef;
}

.form button {
    background-color: #16e !important;
}

.grid-line {
    stroke: #aaa;
}

ul.controls-desc{
    list-style: none;
    margin-left: 0px;
}

ul.controls-desc li {
    /*display: inline-block;*/
}

.game-bg {
    fill: none;
    stroke: none;
    stroke-width: 2px;
}

.tape-view-divider {
    stroke: #aaa;
    stroke-width: 1px;
}

rect.highlight {
    fill: none;
    stroke: white;
    stroke-width: 3px;
}

.tile-control-button .bg {
    fill: none;
    stroke: white;
}

.tile-control-button.direction .bg {
    fill: #1b1b1b;
    stroke: none;
}

/* #0000C9 */
.play-control {
    opacity: 1.0;
}

.play-control.active {
    opacity: 0.6;
}

.play-control.play .bg {
    /* fill: #368A55; */
    fill: none;
    stroke: white;
}

.play-control.pause .bg {
    /* fill: #B9B9B9; */
    fill: none;
    stroke: white;
}

.play-control.stop .bg {
    /* fill: #F04124; */
    fill: none;
    stroke: white;
}

.game-container {
    width: 100%;
}

.game-container svg {
    width: 100%;
    max-height: 100vh;
}

/*  green: #03ec04 */
