.label-text {
    fill: #eee;
    font-family: $helvetica;
    font-size: 10px;
}

.palette-tile-bg {
    fill: none;
    stroke: none;
    opacity: 1
}

.palette-tile {
    opacity: 0.6;

    &:hover {
        opacity: 1;
    }
}
